@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center-vertically {
    top: 50%;
    transform: translateY(-50%);
  }

  .center-horizontally {
    left: 50%;
    transform: translateX(-50%);
  }

  .postioning-buttons {
    @apply absolute flex h-9 w-9 items-center justify-center rounded-full border-2 border-solid border-gray-200 bg-gray-900 shadow-sm shadow-gray-800;
  }
}

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Rubik', sans-serif;
  }

  html {
    height: 100%;
  }

  #root {
    height: 100%;
  }

  body {
    box-sizing: border-box;
    height: 100%;
  }

  textarea:focus,
  textarea:focus-visible {
    outline: none;
  }
}
